<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @opportunity_instance.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opportunity_instance.description %>
</p>

<p>
  <strong>Opportunity:</strong>
  <%= @opportunity_instance.opportunity.name %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @opportunity_instance.organizer.name %>
</p>

<p>
  <strong>Registration url:</strong>
  <%= @opportunity_instance.registration_url %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @opportunity_instance.location_name %>
</p>

<p>
  <strong>Registration deadline:</strong>
  <%= @opportunity_instance.registration_deadline %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= @opportunity_instance.resource_type.name %>
</p>

<p>
  <strong>Resource sub-type:</strong>
  <%= @opportunity_instance.resource_sub_type.name %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @opportunity_instance.logo_url %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @opportunity_instance.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @opportunity_instance.ends_at %>
</p>

<p>
  <strong>Online address:</strong>
  <%= @opportunity_instance.online_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @opportunity_instance.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @opportunity_instance.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @opportunity_instance.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @opportunity_instance.zipcode %>
</p>

<p>
  <strong>Is online:</strong>
  <%= @opportunity_instance.is_online %>
</p>

<p>
  <strong>Hide reason:</strong>
  <%= @opportunity_instance.hide_reason %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @opportunity_instance.hide %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @opportunity_instance.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @opportunity_instance.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @opportunity_instance.contact_phone %>
</p>

<p>
  <strong>Price level:</strong>
  <%= @opportunity_instance.price_level %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @opportunity_instance.min_age %>
</p>

<p>
  <strong>Max age:</strong>
  <%= @opportunity_instance.max_age %>
</p>

<p>
  <strong>Extra data:</strong>
  <%= @opportunity_instance.extra_data %>
</p>

<%= link_to 'Edit', edit_opportunity_instance_path(@opportunity_instance) %> |
<%= link_to 'Back', opportunity_instances_path %>
