<p id="notice"><%= notice %></p>

<%= link_to '+ Add an instance', new_opportunity_instance_path %>

<p>
  <strong>Name:</strong>
  <%= @opportunity.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @opportunity.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @opportunity.description %>
</p>

<p>
  <strong>Registration url:</strong>
  <%= @opportunity.registration_url %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @opportunity.location_name %>
</p>

<p>
  <strong>Registration deadline:</strong>
  <%= @opportunity.registration_deadline %>
</p>

<p>
  <strong>Program type:</strong>
  <%= @opportunity.program_type %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @opportunity.logo_url %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @opportunity.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @opportunity.ends_at %>
</p>

<p>
  <strong>Online address:</strong>
  <%= @opportunity.online_address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @opportunity.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @opportunity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @opportunity.state %>
</p>

<p>
  <strong>Is online:</strong>
  <%= @opportunity.is_online %>
</p>

<p>
  <strong>Hide reason:</strong>
  <%= @opportunity.hide_reason %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @opportunity.hide %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @opportunity.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @opportunity.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @opportunity.contact_phone %>
</p>

<p>
  <strong>Registration url:</strong>
  <%= @opportunity.registration_url %>
</p>

<p>
  <strong>Price level:</strong>
  <%= @opportunity.price_level %>
</p>

<p>
  <strong>Min age:</strong>
  <%= @opportunity.min_age %>
</p>

<p>
  <strong>Max age:</strong>
  <%= @opportunity.max_age %>
</p>

<p>
  <strong>Extra data:</strong>
  <%= @opportunity.extra_data %>
</p>

<%= link_to 'Edit', edit_opportunity_path(@opportunity) %> |
<%= link_to 'Back', opportunities_path %>
