<!DOCTYPE html>
<html>
<head>
  <title>City as a Campus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main">
    <div id="navbar">
      <div class="logo"></div>
      <div class="links">
        <% if signed_in? %>
          <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <hr style="clear: both"/>
    <div class="content">
      <%= notice %>
      <%= alert %>
      <%= yield %>
    </div>
  </div>

</body>
</html>
